name: Setup

runs:
  using: 'composite'
  steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Cache cargo registry
      uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Checkout Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: .node-version

    - name: Checkout Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Run INSTALL
      run: ./INSTALL
      shell: bash
